<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Team</th>
      <th>Player</th>
      <th>Age</th>
      <th>Matches</th>
      <th>GA90</th>
      <th>Save%</th>
      <th>CS%</th>
      <th>PSXG+/-</th>
      <th>Launched CMP% (40+ yards)</th>
      <th>CMP% (15-30 yards)</th>
      <th>CMP% (30+ yards)</th>
      <th>Launch% goal kicks</th>
      <th>Defensive actions</th>
      <th>Errors</th>
      <th>Errors under pressure</th>
      <th>Miscontrol</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Lens</td>
      <td>Brice Samba</td>
      <td>30.0</td>
      <td>15.0</td>
      <td>0.93</td>
      <td>81.5</td>
      <td>46.7</td>
      <td>3.5</td>
      <td>50.3</td>
      <td>98.4</td>
      <td>60.3</td>
      <td>44.7</td>
      <td>1.47</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>67</td>
    </tr>
    <tr>
      <td>Monchengladbach</td>
      <td>Moritz Nicolas</td>
      <td>26.0</td>
      <td>18.2</td>
      <td>1.39</td>
      <td>78.3</td>
      <td>22.2</td>
      <td>6.9</td>
      <td>47.7</td>
      <td>98.4</td>
      <td>58.9</td>
      <td>46.7</td>
      <td>0.77</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>64</td>
    </tr>
    <tr>
      <td>Anderlecht</td>
      <td>Colin Coosemans</td>
      <td>31.0</td>
      <td>28.0</td>
      <td>0.89</td>
      <td>80.5</td>
      <td>50.0</td>
      <td>14.0</td>
      <td>40.7</td>
      <td>97.1</td>
      <td>52.7</td>
      <td>37.6</td>
      <td>1.25</td>
      <td>3</td>
      <td>1</td>
      <td>1</td>
      <td>64</td>
    </tr>
    <tr>
      <td>Osasuna</td>
      <td>Sergio Herrera</td>
      <td>31.0</td>
      <td>37.0</td>
      <td>1.41</td>
      <td>75.3</td>
      <td>21.6</td>
      <td>5.2</td>
      <td>45.1</td>
      <td>98.0</td>
      <td>51.5</td>
      <td>71.4</td>
      <td>2.30</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>63</td>
    </tr>
    <tr>
      <td>Antwerp</td>
      <td>Senne Lammens</td>
      <td>22.0</td>
      <td>30.0</td>
      <td>1.07</td>
      <td>81.4</td>
      <td>23.3</td>
      <td>14.5</td>
      <td>37.1</td>
      <td>98.4</td>
      <td>52.4</td>
      <td>38.0</td>
      <td>0.72</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>63</td>
    </tr>
    <tr>
      <td>Augsburg</td>
      <td>Finn Dahmen</td>
      <td>26.0</td>
      <td>19.0</td>
      <td>1.00</td>
      <td>79.3</td>
      <td>47.4</td>
      <td>7.2</td>
      <td>37.8</td>
      <td>99.1</td>
      <td>47.2</td>
      <td>71.7</td>
      <td>1.37</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>60</td>
    </tr>
    <tr>
      <td>Genk</td>
      <td>Mike Penders</td>
      <td>19.0</td>
      <td>11.0</td>
      <td>0.73</td>
      <td>78.1</td>
      <td>36.4</td>
      <td>2.2</td>
      <td>46.5</td>
      <td>98.9</td>
      <td>54.4</td>
      <td>40.8</td>
      <td>0.27</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
      <td>59</td>
    </tr>
    <tr>
      <td>Strasbourg</td>
      <td>Đorđe Petrović</td>
      <td>24.0</td>
      <td>31.0</td>
      <td>1.23</td>
      <td>78.9</td>
      <td>32.3</td>
      <td>9.9</td>
      <td>32.4</td>
      <td>98.3</td>
      <td>43.4</td>
      <td>56.1</td>
      <td>1.52</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>59</td>
    </tr>
    <tr>
      <td>Roma</td>
      <td>Mile Svilar</td>
      <td>24.0</td>
      <td>38.0</td>
      <td>0.92</td>
      <td>79.5</td>
      <td>42.1</td>
      <td>8.5</td>
      <td>30.0</td>
      <td>99.7</td>
      <td>50.2</td>
      <td>56.5</td>
      <td>0.87</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>58</td>
    </tr>
    <tr>
      <td>OH Leuven</td>
      <td>Tobe Leysen</td>
      <td>22.0</td>
      <td>29.0</td>
      <td>1.10</td>
      <td>77.8</td>
      <td>31.0</td>
      <td>10.9</td>
      <td>33.5</td>
      <td>98.9</td>
      <td>45.9</td>
      <td>63.3</td>
      <td>0.97</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>58</td>
    </tr>
    <tr>
      <td>Gent</td>
      <td>Davy Roef</td>
      <td>30.0</td>
      <td>26.0</td>
      <td>1.15</td>
      <td>79.7</td>
      <td>42.3</td>
      <td>16.7</td>
      <td>39.2</td>
      <td>98.3</td>
      <td>53.4</td>
      <td>37.7</td>
      <td>0.54</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>57</td>
    </tr>
    <tr>
      <td>Union SG</td>
      <td>Anthony Moris</td>
      <td>34.0</td>
      <td>30.0</td>
      <td>0.83</td>
      <td>75.8</td>
      <td>43.3</td>
      <td>8.7</td>
      <td>43.7</td>
      <td>98.3</td>
      <td>56.4</td>
      <td>56.0</td>
      <td>0.83</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>57</td>
    </tr>
    <tr>
      <td>Como</td>
      <td>Jean Butez</td>
      <td>29.0</td>
      <td>18.5</td>
      <td>1.08</td>
      <td>73.5</td>
      <td>27.8</td>
      <td>0.1</td>
      <td>38.3</td>
      <td>99.0</td>
      <td>51.7</td>
      <td>48.8</td>
      <td>2.76</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>56</td>
    </tr>
    <tr>
      <td>Charleroi</td>
      <td>Mohamed Koné</td>
      <td>22.0</td>
      <td>21.0</td>
      <td>1.00</td>
      <td>75.7</td>
      <td>28.6</td>
      <td>3.8</td>
      <td>40.8</td>
      <td>98.2</td>
      <td>52.1</td>
      <td>58.5</td>
      <td>1.57</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>55</td>
    </tr>
    <tr>
      <td>Napoli</td>
      <td>Alex Meret</td>
      <td>27.0</td>
      <td>33.4</td>
      <td>0.76</td>
      <td>71.4</td>
      <td>48.5</td>
      <td>2.3</td>
      <td>41.1</td>
      <td>98.5</td>
      <td>61.8</td>
      <td>29.8</td>
      <td>1.41</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>55</td>
    </tr>
    <tr>
      <td>Bayern Munich</td>
      <td>Manuel Neuer</td>
      <td>38.0</td>
      <td>22.0</td>
      <td>0.68</td>
      <td>68.9</td>
      <td>59.1</td>
      <td>0.0</td>
      <td>47.4</td>
      <td>98.1</td>
      <td>65.1</td>
      <td>37.5</td>
      <td>1.82</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>55</td>
    </tr>
    <tr>
      <td>Angers</td>
      <td>Yahia Fofana</td>
      <td>23.0</td>
      <td>33.0</td>
      <td>1.55</td>
      <td>74.2</td>
      <td>21.2</td>
      <td>12.5</td>
      <td>33.1</td>
      <td>98.4</td>
      <td>44.0</td>
      <td>55.6</td>
      <td>0.61</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>53</td>
    </tr>
    <tr>
      <td>Internazionale</td>
      <td>Yann Sommer</td>
      <td>35.0</td>
      <td>33.0</td>
      <td>0.97</td>
      <td>75.0</td>
      <td>39.4</td>
      <td>0.7</td>
      <td>40.3</td>
      <td>99.3</td>
      <td>62.0</td>
      <td>18.3</td>
      <td>0.42</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>53</td>
    </tr>
    <tr>
      <td>Atalanta</td>
      <td>Marco Carnesecchi</td>
      <td>24.0</td>
      <td>34.0</td>
      <td>1.00</td>
      <td>75.2</td>
      <td>38.2</td>
      <td>4.1</td>
      <td>32.4</td>
      <td>99.6</td>
      <td>47.3</td>
      <td>62.7</td>
      <td>1.32</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>52</td>
    </tr>
    <tr>
      <td>Auxerre</td>
      <td>Donovan Léon</td>
      <td>31.0</td>
      <td>32.0</td>
      <td>1.50</td>
      <td>73.8</td>
      <td>28.1</td>
      <td>10.8</td>
      <td>32.8</td>
      <td>98.6</td>
      <td>39.5</td>
      <td>78.5</td>
      <td>1.22</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>52</td>
    </tr>
    <tr>
      <td>Fiorentina</td>
      <td>David de Gea</td>
      <td>33.0</td>
      <td>35.0</td>
      <td>1.09</td>
      <td>72.6</td>
      <td>31.4</td>
      <td>0.0</td>
      <td>44.5</td>
      <td>98.4</td>
      <td>55.3</td>
      <td>56.0</td>
      <td>0.80</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Lille</td>
      <td>Lucas Chevalier</td>
      <td>22.0</td>
      <td>34.0</td>
      <td>1.06</td>
      <td>74.6</td>
      <td>32.4</td>
      <td>7.2</td>
      <td>38.9</td>
      <td>98.2</td>
      <td>50.2</td>
      <td>34.8</td>
      <td>0.71</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Barcelona</td>
      <td>Wojciech Szczęsny</td>
      <td>34.0</td>
      <td>15.0</td>
      <td>0.80</td>
      <td>66.7</td>
      <td>53.3</td>
      <td>0.0</td>
      <td>38.1</td>
      <td>98.8</td>
      <td>59.1</td>
      <td>25.9</td>
      <td>3.73</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Manchester City</td>
      <td>Ederson</td>
      <td>30.0</td>
      <td>25.8</td>
      <td>1.04</td>
      <td>69.2</td>
      <td>40.0</td>
      <td>5.0</td>
      <td>43.6</td>
      <td>98.3</td>
      <td>65.3</td>
      <td>23.4</td>
      <td>1.90</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Genoa</td>
      <td>Nicola Leali</td>
      <td>31.0</td>
      <td>29.0</td>
      <td>1.07</td>
      <td>74.8</td>
      <td>34.5</td>
      <td>6.3</td>
      <td>38.4</td>
      <td>99.1</td>
      <td>44.9</td>
      <td>50.0</td>
      <td>0.48</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Club Brugge</td>
      <td>Simon Mignolet</td>
      <td>36.0</td>
      <td>29.7</td>
      <td>1.21</td>
      <td>68.9</td>
      <td>27.6</td>
      <td>3.0</td>
      <td>47.8</td>
      <td>98.2</td>
      <td>58.4</td>
      <td>30.1</td>
      <td>0.91</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>51</td>
    </tr>
    <tr>
      <td>Torino</td>
      <td>Vanja Milinković-Savić</td>
      <td>27.0</td>
      <td>37.0</td>
      <td>1.14</td>
      <td>77.5</td>
      <td>27.0</td>
      <td>11.4</td>
      <td>31.8</td>
      <td>98.4</td>
      <td>43.7</td>
      <td>59.4</td>
      <td>1.24</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Villarreal</td>
      <td>Luiz Lúcio Reis Júnior</td>
      <td>23.0</td>
      <td>16.2</td>
      <td>1.13</td>
      <td>78.8</td>
      <td>31.3</td>
      <td>0.1</td>
      <td>34.3</td>
      <td>97.6</td>
      <td>44.2</td>
      <td>53.5</td>
      <td>1.23</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Liverpool</td>
      <td>Alisson</td>
      <td>31.0</td>
      <td>27.9</td>
      <td>1.07</td>
      <td>72.0</td>
      <td>33.3</td>
      <td>3.5</td>
      <td>33.5</td>
      <td>98.4</td>
      <td>47.4</td>
      <td>37.5</td>
      <td>1.76</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Real Betis</td>
      <td>Rui Silva</td>
      <td>30.0</td>
      <td>15.0</td>
      <td>1.20</td>
      <td>72.2</td>
      <td>26.7</td>
      <td>1.4</td>
      <td>31.3</td>
      <td>100.0</td>
      <td>45.8</td>
      <td>36.8</td>
      <td>2.07</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Standard Liege</td>
      <td>Matthieu Epolo</td>
      <td>20.0</td>
      <td>18.5</td>
      <td>1.14</td>
      <td>77.4</td>
      <td>44.4</td>
      <td>6.2</td>
      <td>33.4</td>
      <td>95.1</td>
      <td>39.2</td>
      <td>83.2</td>
      <td>0.92</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Reims</td>
      <td>Yehvann Diouf</td>
      <td>24.0</td>
      <td>34.0</td>
      <td>1.38</td>
      <td>76.0</td>
      <td>20.6</td>
      <td>14.6</td>
      <td>32.3</td>
      <td>97.2</td>
      <td>43.4</td>
      <td>61.4</td>
      <td>1.24</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Bournemouth</td>
      <td>Kepa Arrizabalaga</td>
      <td>29.0</td>
      <td>31.0</td>
      <td>1.26</td>
      <td>73.9</td>
      <td>25.8</td>
      <td>2.0</td>
      <td>36.2</td>
      <td>98.2</td>
      <td>48.2</td>
      <td>46.4</td>
      <td>1.74</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Bayer Leverkusen</td>
      <td>Lukáš Hrádecký</td>
      <td>34.0</td>
      <td>29.0</td>
      <td>1.31</td>
      <td>71.2</td>
      <td>20.7</td>
      <td>0.8</td>
      <td>40.2</td>
      <td>97.8</td>
      <td>51.8</td>
      <td>49.6</td>
      <td>1.34</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>50</td>
    </tr>
    <tr>
      <td>Everton</td>
      <td>Jordan Pickford</td>
      <td>30.0</td>
      <td>38.0</td>
      <td>1.16</td>
      <td>73.0</td>
      <td>31.6</td>
      <td>4.8</td>
      <td>37.7</td>
      <td>98.5</td>
      <td>46.1</td>
      <td>62.8</td>
      <td>1.50</td>
      <td>2</td>
      <td>0</td>
      <td>2</td>
      <td>49</td>
    </tr>
    <tr>
      <td>Marseille</td>
      <td>Gerónimo Rulli</td>
      <td>32.0</td>
      <td>34.0</td>
      <td>1.38</td>
      <td>67.4</td>
      <td>14.7</td>
      <td>2.5</td>
      <td>45.5</td>
      <td>98.3</td>
      <td>59.6</td>
      <td>35.2</td>
      <td>1.74</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>49</td>
    </tr>
    <tr>
      <td>Dender</td>
      <td>Michael Verrips</td>
      <td>27.0</td>
      <td>26.0</td>
      <td>1.61</td>
      <td>73.6</td>
      <td>26.9</td>
      <td>6.0</td>
      <td>35.7</td>
      <td>97.5</td>
      <td>42.3</td>
      <td>62.9</td>
      <td>0.15</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>49</td>
    </tr>
    <tr>
      <td>Mechelen</td>
      <td>Ortwin De Wolf</td>
      <td>27.0</td>
      <td>30.0</td>
      <td>1.33</td>
      <td>75.4</td>
      <td>30.0</td>
      <td>9.3</td>
      <td>34.9</td>
      <td>98.9</td>
      <td>48.6</td>
      <td>36.0</td>
      <td>0.77</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>49</td>
    </tr>
    <tr>
      <td>Alaves</td>
      <td>Antonio Sivera</td>
      <td>27.0</td>
      <td>31.2</td>
      <td>1.27</td>
      <td>73.2</td>
      <td>25.8</td>
      <td>2.0</td>
      <td>41.0</td>
      <td>98.0</td>
      <td>43.1</td>
      <td>85.6</td>
      <td>0.93</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>48</td>
    </tr>
    <tr>
      <td>Milan</td>
      <td>Mike Maignan</td>
      <td>29.0</td>
      <td>36.6</td>
      <td>1.14</td>
      <td>70.6</td>
      <td>33.3</td>
      <td>-1.2</td>
      <td>38.6</td>
      <td>99.5</td>
      <td>61.8</td>
      <td>36.1</td>
      <td>1.86</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>47</td>
    </tr>
    <tr>
      <td>Mallorca</td>
      <td>Dominik Greif</td>
      <td>27.0</td>
      <td>31.0</td>
      <td>1.10</td>
      <td>72.4</td>
      <td>22.6</td>
      <td>0.9</td>
      <td>40.2</td>
      <td>99.7</td>
      <td>46.3</td>
      <td>62.2</td>
      <td>0.68</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>47</td>
    </tr>
    <tr>
      <td>Barcelona</td>
      <td>Iñaki Peña</td>
      <td>25.0</td>
      <td>15.5</td>
      <td>1.20</td>
      <td>69.8</td>
      <td>26.7</td>
      <td>-1.3</td>
      <td>29.5</td>
      <td>99.2</td>
      <td>55.2</td>
      <td>22.6</td>
      <td>5.74</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>47</td>
    </tr>
    <tr>
      <td>Atletico Madrid</td>
      <td>Jan Oblak</td>
      <td>31.0</td>
      <td>36.0</td>
      <td>0.83</td>
      <td>78.1</td>
      <td>41.7</td>
      <td>-2.4</td>
      <td>39.4</td>
      <td>99.3</td>
      <td>53.8</td>
      <td>41.2</td>
      <td>0.78</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>47</td>
    </tr>
    <tr>
      <td>Espanyol</td>
      <td>Joan García</td>
      <td>23.0</td>
      <td>38.0</td>
      <td>1.34</td>
      <td>75.5</td>
      <td>21.1</td>
      <td>7.7</td>
      <td>36.9</td>
      <td>98.8</td>
      <td>47.2</td>
      <td>62.5</td>
      <td>0.92</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>46</td>
    </tr>
    <tr>
      <td>St Pauli</td>
      <td>Nikola Vasilj</td>
      <td>28.0</td>
      <td>33.0</td>
      <td>1.18</td>
      <td>71.9</td>
      <td>27.3</td>
      <td>9.4</td>
      <td>33.3</td>
      <td>98.9</td>
      <td>43.1</td>
      <td>44.8</td>
      <td>0.82</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>46</td>
    </tr>
    <tr>
      <td>Sint Truiden</td>
      <td>Leo Kokubo</td>
      <td>23.0</td>
      <td>27.0</td>
      <td>1.67</td>
      <td>70.2</td>
      <td>14.8</td>
      <td>2.0</td>
      <td>35.5</td>
      <td>98.9</td>
      <td>47.6</td>
      <td>33.1</td>
      <td>1.33</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>46</td>
    </tr>
    <tr>
      <td>Athletic Club</td>
      <td>Unai Simón</td>
      <td>27.0</td>
      <td>21.0</td>
      <td>0.67</td>
      <td>79.0</td>
      <td>47.6</td>
      <td>2.3</td>
      <td>37.3</td>
      <td>98.3</td>
      <td>44.3</td>
      <td>77.8</td>
      <td>1.33</td>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>46</td>
    </tr>
    <tr>
      <td>RB Leipzig</td>
      <td>Péter Gulácsi</td>
      <td>34.0</td>
      <td>29.2</td>
      <td>1.37</td>
      <td>73.0</td>
      <td>48.3</td>
      <td>3.6</td>
      <td>37.8</td>
      <td>98.0</td>
      <td>56.4</td>
      <td>33.7</td>
      <td>1.16</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>46</td>
    </tr>
    <tr>
      <td>Venezia</td>
      <td>Filip Stankovic</td>
      <td>22.0</td>
      <td>15.2</td>
      <td>1.53</td>
      <td>77.1</td>
      <td>0.0</td>
      <td>3.2</td>
      <td>29.8</td>
      <td>96.8</td>
      <td>41.9</td>
      <td>43.8</td>
      <td>0.86</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>46</td>
    </tr>
    <tr>
      <td>Athletic Club</td>
      <td>Julen Agirrezabala</td>
      <td>23.0</td>
      <td>13.4</td>
      <td>0.67</td>
      <td>76.5</td>
      <td>35.7</td>
      <td>1.5</td>
      <td>32.0</td>
      <td>100.0</td>
      <td>35.7</td>
      <td>75.8</td>
      <td>1.27</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>46</td>
    </tr>
    <tr>
      <td>Nice</td>
      <td>Marcin Bułka</td>
      <td>24.0</td>
      <td>34.0</td>
      <td>1.21</td>
      <td>75.8</td>
      <td>23.5</td>
      <td>3.0</td>
      <td>41.2</td>
      <td>96.3</td>
      <td>55.4</td>
      <td>34.6</td>
      <td>0.97</td>
      <td>6</td>
      <td>0</td>
      <td>2</td>
      <td>45</td>
    </tr>
    <tr>
      <td>Lens</td>
      <td>Mathew Ryan</td>
      <td>32.0</td>
      <td>14.0</td>
      <td>1.21</td>
      <td>75.8</td>
      <td>42.9</td>
      <td>2.5</td>
      <td>34.1</td>
      <td>98.4</td>
      <td>49.0</td>
      <td>42.4</td>
      <td>0.71</td>
      <td>2</td>
      <td>1</td>
      <td>0</td>
      <td>45</td>
    </tr>
    <tr>
      <td>West Ham United</td>
      <td>Łukasz Fabiański</td>
      <td>39.0</td>
      <td>12.9</td>
      <td>1.68</td>
      <td>74.6</td>
      <td>16.7</td>
      <td>1.6</td>
      <td>34.1</td>
      <td>99.4</td>
      <td>41.5</td>
      <td>61.0</td>
      <td>0.93</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>44</td>
    </tr>
    <tr>
      <td>Beerschot Wilrijk</td>
      <td>Nick Shinton</td>
      <td>23.0</td>
      <td>20.5</td>
      <td>1.80</td>
      <td>72.3</td>
      <td>14.3</td>
      <td>4.2</td>
      <td>26.1</td>
      <td>97.1</td>
      <td>36.7</td>
      <td>57.5</td>
      <td>1.32</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>44</td>
    </tr>
    <tr>
      <td>Cagliari</td>
      <td>Elia Caprile</td>
      <td>22.0</td>
      <td>18.0</td>
      <td>1.22</td>
      <td>68.2</td>
      <td>27.8</td>
      <td>1.5</td>
      <td>39.8</td>
      <td>97.9</td>
      <td>47.1</td>
      <td>57.2</td>
      <td>1.28</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>44</td>
    </tr>
    <tr>
      <td>Westerlo</td>
      <td>Sinan Bolat</td>
      <td>35.0</td>
      <td>11.0</td>
      <td>1.82</td>
      <td>71.0</td>
      <td>9.1</td>
      <td>-0.5</td>
      <td>35.1</td>
      <td>98.7</td>
      <td>46.8</td>
      <td>44.3</td>
      <td>1.09</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>43</td>
    </tr>
    <tr>
      <td>Real Madrid</td>
      <td>Thibaut Courtois</td>
      <td>32.0</td>
      <td>30.0</td>
      <td>0.97</td>
      <td>75.0</td>
      <td>36.7</td>
      <td>0.7</td>
      <td>29.0</td>
      <td>99.2</td>
      <td>48.8</td>
      <td>35.8</td>
      <td>0.47</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>43</td>
    </tr>
    <tr>
      <td>Nottingham Forest</td>
      <td>Matz Sels</td>
      <td>32.0</td>
      <td>38.0</td>
      <td>1.21</td>
      <td>73.9</td>
      <td>34.2</td>
      <td>3.1</td>
      <td>35.0</td>
      <td>98.2</td>
      <td>36.9</td>
      <td>77.4</td>
      <td>0.32</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>43</td>
    </tr>
    <tr>
      <td>Rennes</td>
      <td>Brice Samba</td>
      <td>30.0</td>
      <td>17.0</td>
      <td>1.59</td>
      <td>70.1</td>
      <td>29.4</td>
      <td>2.2</td>
      <td>32.6</td>
      <td>97.1</td>
      <td>48.3</td>
      <td>38.2</td>
      <td>0.88</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Lyon</td>
      <td>Lucas Perri</td>
      <td>26.0</td>
      <td>33.0</td>
      <td>1.33</td>
      <td>74.4</td>
      <td>30.3</td>
      <td>3.8</td>
      <td>32.6</td>
      <td>98.0</td>
      <td>43.5</td>
      <td>40.8</td>
      <td>0.88</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Udinese</td>
      <td>Maduka Okoye</td>
      <td>24.0</td>
      <td>25.0</td>
      <td>1.60</td>
      <td>67.3</td>
      <td>16.0</td>
      <td>0.0</td>
      <td>41.1</td>
      <td>99.4</td>
      <td>48.1</td>
      <td>60.6</td>
      <td>0.92</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Manchester City</td>
      <td>Stefan Ortega</td>
      <td>31.0</td>
      <td>12.2</td>
      <td>1.50</td>
      <td>68.0</td>
      <td>25.0</td>
      <td>-0.7</td>
      <td>38.5</td>
      <td>96.9</td>
      <td>51.3</td>
      <td>32.7</td>
      <td>0.98</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Las Palmas</td>
      <td>Dinko Horkaš</td>
      <td>25.0</td>
      <td>12.1</td>
      <td>1.73</td>
      <td>66.7</td>
      <td>9.1</td>
      <td>1.4</td>
      <td>39.4</td>
      <td>98.2</td>
      <td>46.9</td>
      <td>51.1</td>
      <td>1.33</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Juventus</td>
      <td>Michele Di Gregorio</td>
      <td>27.0</td>
      <td>33.0</td>
      <td>0.97</td>
      <td>73.8</td>
      <td>42.4</td>
      <td>-3.9</td>
      <td>38.4</td>
      <td>98.7</td>
      <td>48.8</td>
      <td>54.1</td>
      <td>0.91</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>42</td>
    </tr>
    <tr>
      <td>Cercle Brugge</td>
      <td>Maxime Delanghe</td>
      <td>23.0</td>
      <td>20.9</td>
      <td>1.29</td>
      <td>71.3</td>
      <td>33.3</td>
      <td>2.0</td>
      <td>25.4</td>
      <td>96.8</td>
      <td>29.6</td>
      <td>91.5</td>
      <td>1.63</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>41</td>
    </tr>
    <tr>
      <td>Getafe</td>
      <td>David Soria</td>
      <td>31.0</td>
      <td>38.0</td>
      <td>1.03</td>
      <td>75.4</td>
      <td>23.7</td>
      <td>3.0</td>
      <td>37.5</td>
      <td>98.6</td>
      <td>40.5</td>
      <td>91.1</td>
      <td>1.03</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>41</td>
    </tr>
    <tr>
      <td>Monaco</td>
      <td>Philipp Köhn</td>
      <td>26.0</td>
      <td>19.0</td>
      <td>1.00</td>
      <td>71.4</td>
      <td>42.1</td>
      <td>-1.8</td>
      <td>31.8</td>
      <td>96.9</td>
      <td>48.1</td>
      <td>42.4</td>
      <td>1.05</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>41</td>
    </tr>
    <tr>
      <td>Mainz 05</td>
      <td>Robin Zentner</td>
      <td>29.0</td>
      <td>32.0</td>
      <td>1.28</td>
      <td>73.9</td>
      <td>28.1</td>
      <td>4.0</td>
      <td>30.9</td>
      <td>99.1</td>
      <td>38.9</td>
      <td>64.8</td>
      <td>1.81</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>41</td>
    </tr>
    <tr>
      <td>Rayo Vallecano</td>
      <td>Augusto Batalla</td>
      <td>28.0</td>
      <td>32.0</td>
      <td>1.22</td>
      <td>75.2</td>
      <td>25.0</td>
      <td>2.0</td>
      <td>33.1</td>
      <td>98.5</td>
      <td>41.1</td>
      <td>63.0</td>
      <td>1.19</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>41</td>
    </tr>
    <tr>
      <td>Union Berlin</td>
      <td>Frederik Rønnow</td>
      <td>31.0</td>
      <td>28.0</td>
      <td>1.32</td>
      <td>67.6</td>
      <td>28.6</td>
      <td>3.3</td>
      <td>36.2</td>
      <td>98.7</td>
      <td>43.9</td>
      <td>78.3</td>
      <td>1.25</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>40</td>
    </tr>
    <tr>
      <td>Venezia</td>
      <td>Ionuț Radu</td>
      <td>27.0</td>
      <td>15.0</td>
      <td>1.20</td>
      <td>76.9</td>
      <td>26.7</td>
      <td>1.2</td>
      <td>24.4</td>
      <td>95.8</td>
      <td>31.2</td>
      <td>69.9</td>
      <td>0.20</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>40</td>
    </tr>
    <tr>
      <td>Bochum</td>
      <td>Patrick Drewes</td>
      <td>31.0</td>
      <td>21.0</td>
      <td>2.19</td>
      <td>56.6</td>
      <td>9.5</td>
      <td>-3.7</td>
      <td>45.0</td>
      <td>97.9</td>
      <td>48.3</td>
      <td>80.8</td>
      <td>1.57</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>39</td>
    </tr>
    <tr>
      <td>Le Havre</td>
      <td>Mathieu Gorgelin</td>
      <td>33.0</td>
      <td>16.0</td>
      <td>2.06</td>
      <td>63.4</td>
      <td>6.3</td>
      <td>2.2</td>
      <td>43.2</td>
      <td>98.6</td>
      <td>53.7</td>
      <td>40.4</td>
      <td>0.50</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>39</td>
    </tr>
    <tr>
      <td>Leganes</td>
      <td>Marko Dmitrović</td>
      <td>32.0</td>
      <td>32.0</td>
      <td>1.53</td>
      <td>72.0</td>
      <td>31.3</td>
      <td>3.2</td>
      <td>26.3</td>
      <td>98.8</td>
      <td>30.0</td>
      <td>92.4</td>
      <td>1.66</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>39</td>
    </tr>
    <tr>
      <td>Genk</td>
      <td>Hendrik Van Crombrugge</td>
      <td>31.0</td>
      <td>19.0</td>
      <td>1.26</td>
      <td>66.2</td>
      <td>42.1</td>
      <td>-0.8</td>
      <td>43.5</td>
      <td>98.5</td>
      <td>53.4</td>
      <td>45.0</td>
      <td>0.47</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>39</td>
    </tr>
    <tr>
      <td>Como</td>
      <td>Pepe Reina</td>
      <td>41.0</td>
      <td>11.5</td>
      <td>1.22</td>
      <td>68.3</td>
      <td>16.7</td>
      <td>-1.9</td>
      <td>37.4</td>
      <td>97.8</td>
      <td>48.8</td>
      <td>23.5</td>
      <td>0.52</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>39</td>
    </tr>
    <tr>
      <td>Freiburg</td>
      <td>Noah Atubolu</td>
      <td>22.0</td>
      <td>25.6</td>
      <td>1.48</td>
      <td>69.2</td>
      <td>40.0</td>
      <td>0.0</td>
      <td>38.4</td>
      <td>98.5</td>
      <td>48.3</td>
      <td>68.3</td>
      <td>1.09</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>39</td>
    </tr>
    <tr>
      <td>Udinese</td>
      <td>Razvan Sava</td>
      <td>22.0</td>
      <td>12.0</td>
      <td>1.33</td>
      <td>74.5</td>
      <td>33.3</td>
      <td>0.5</td>
      <td>29.7</td>
      <td>98.7</td>
      <td>35.3</td>
      <td>65.5</td>
      <td>1.08</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>39</td>
    </tr>
    <tr>
      <td>Dortmund</td>
      <td>Gregor Kobel</td>
      <td>26.0</td>
      <td>32.0</td>
      <td>1.47</td>
      <td>66.7</td>
      <td>21.9</td>
      <td>1.4</td>
      <td>33.3</td>
      <td>99.4</td>
      <td>48.6</td>
      <td>58.7</td>
      <td>1.47</td>
      <td>3</td>
      <td>1</td>
      <td>0</td>
      <td>37</td>
    </tr>
    <tr>
      <td>Paris Saint Germain</td>
      <td>Gianluigi Donnarumma</td>
      <td>25.0</td>
      <td>23.2</td>
      <td>1.09</td>
      <td>67.6</td>
      <td>17.4</td>
      <td>-3.3</td>
      <td>34.7</td>
      <td>98.8</td>
      <td>57.1</td>
      <td>30.3</td>
      <td>0.82</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>37</td>
    </tr>
    <tr>
      <td>Wolfsburg</td>
      <td>Kamil Grabara</td>
      <td>25.0</td>
      <td>28.7</td>
      <td>1.75</td>
      <td>65.7</td>
      <td>17.9</td>
      <td>1.7</td>
      <td>36.4</td>
      <td>99.2</td>
      <td>46.4</td>
      <td>66.9</td>
      <td>0.66</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>37</td>
    </tr>
    <tr>
      <td>Nantes</td>
      <td>Anthony Lopes</td>
      <td>33.0</td>
      <td>17.4</td>
      <td>1.53</td>
      <td>69.0</td>
      <td>17.6</td>
      <td>0.6</td>
      <td>34.6</td>
      <td>99.4</td>
      <td>43.3</td>
      <td>78.1</td>
      <td>0.46</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>37</td>
    </tr>
    <tr>
      <td>Newcastle United</td>
      <td>Nick Pope</td>
      <td>32.0</td>
      <td>28.0</td>
      <td>1.25</td>
      <td>71.7</td>
      <td>28.6</td>
      <td>1.8</td>
      <td>28.0</td>
      <td>98.4</td>
      <td>43.0</td>
      <td>55.6</td>
      <td>2.29</td>
      <td>5</td>
      <td>1</td>
      <td>0</td>
      <td>37</td>
    </tr>
    <tr>
      <td>Arsenal</td>
      <td>David Raya</td>
      <td>28.0</td>
      <td>38.0</td>
      <td>0.89</td>
      <td>74.2</td>
      <td>34.2</td>
      <td>1.1</td>
      <td>31.2</td>
      <td>98.0</td>
      <td>37.7</td>
      <td>68.0</td>
      <td>1.74</td>
      <td>9</td>
      <td>0</td>
      <td>1</td>
      <td>36</td>
    </tr>
    <tr>
      <td>Brest</td>
      <td>Marco Bizot</td>
      <td>33.0</td>
      <td>32.0</td>
      <td>1.69</td>
      <td>64.1</td>
      <td>31.3</td>
      <td>-6.8</td>
      <td>41.8</td>
      <td>99.2</td>
      <td>47.4</td>
      <td>66.2</td>
      <td>1.66</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>36</td>
    </tr>
    <tr>
      <td>Chelsea</td>
      <td>Robert Sánchez</td>
      <td>26.0</td>
      <td>32.0</td>
      <td>1.06</td>
      <td>76.4</td>
      <td>31.3</td>
      <td>1.7</td>
      <td>23.1</td>
      <td>96.6</td>
      <td>36.3</td>
      <td>46.3</td>
      <td>1.78</td>
      <td>10</td>
      <td>0</td>
      <td>0</td>
      <td>36</td>
    </tr>
    <tr>
      <td>Monza</td>
      <td>Stefano Turati</td>
      <td>22.0</td>
      <td>29.7</td>
      <td>1.79</td>
      <td>65.5</td>
      <td>6.9</td>
      <td>-2.6</td>
      <td>40.0</td>
      <td>98.6</td>
      <td>45.0</td>
      <td>61.8</td>
      <td>0.87</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>36</td>
    </tr>
    <tr>
      <td>Hoffenheim</td>
      <td>Oliver Baumann</td>
      <td>34.0</td>
      <td>28.0</td>
      <td>1.89</td>
      <td>63.0</td>
      <td>14.3</td>
      <td>1.1</td>
      <td>37.2</td>
      <td>99.5</td>
      <td>43.1</td>
      <td>69.1</td>
      <td>1.11</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>35</td>
    </tr>
    <tr>
      <td>Valencia</td>
      <td>Giorgi Mamardashvili</td>
      <td>23.0</td>
      <td>34.0</td>
      <td>1.41</td>
      <td>68.4</td>
      <td>23.5</td>
      <td>1.1</td>
      <td>31.4</td>
      <td>98.7</td>
      <td>38.0</td>
      <td>63.9</td>
      <td>1.12</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>35</td>
    </tr>
    <tr>
      <td>Cagliari</td>
      <td>Simone Scuffet</td>
      <td>28.0</td>
      <td>13.0</td>
      <td>1.77</td>
      <td>67.9</td>
      <td>7.7</td>
      <td>-2.6</td>
      <td>39.2</td>
      <td>99.2</td>
      <td>49.3</td>
      <td>53.5</td>
      <td>0.54</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>35</td>
    </tr>
    <tr>
      <td>Monaco</td>
      <td>Radosław Majecki</td>
      <td>24.0</td>
      <td>15.0</td>
      <td>1.47</td>
      <td>69.2</td>
      <td>20.0</td>
      <td>-0.9</td>
      <td>24.1</td>
      <td>100.0</td>
      <td>37.2</td>
      <td>31.0</td>
      <td>1.20</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>34</td>
    </tr>
    <tr>
      <td>Bologna</td>
      <td>Łukasz Skorupski</td>
      <td>33.0</td>
      <td>26.3</td>
      <td>1.27</td>
      <td>61.0</td>
      <td>30.8</td>
      <td>-2.3</td>
      <td>37.4</td>
      <td>98.3</td>
      <td>50.6</td>
      <td>51.6</td>
      <td>0.88</td>
      <td>2</td>
      <td>0</td>
      <td>0</td>
      <td>34</td>
    </tr>
    <tr>
      <td>Brentford</td>
      <td>Mark Flekken</td>
      <td>31.0</td>
      <td>36.4</td>
      <td>1.53</td>
      <td>73.4</td>
      <td>19.4</td>
      <td>-0.3</td>
      <td>37.8</td>
      <td>97.6</td>
      <td>49.2</td>
      <td>72.6</td>
      <td>0.93</td>
      <td>4</td>
      <td>0</td>
      <td>3</td>
      <td>34</td>
    </tr>
    <tr>
      <td>Crystal Palace</td>
      <td>Dean Henderson</td>
      <td>27.0</td>
      <td>38.0</td>
      <td>1.34</td>
      <td>66.7</td>
      <td>28.9</td>
      <td>3.2</td>
      <td>26.2</td>
      <td>99.2</td>
      <td>31.2</td>
      <td>56.0</td>
      <td>1.05</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>34</td>
    </tr>
    <tr>
      <td>Parma</td>
      <td>Zion Suzuki</td>
      <td>21.0</td>
      <td>36.8</td>
      <td>1.47</td>
      <td>68.0</td>
      <td>19.4</td>
      <td>0.4</td>
      <td>30.5</td>
      <td>98.5</td>
      <td>40.3</td>
      <td>63.7</td>
      <td>1.03</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>33</td>
    </tr>
    <tr>
      <td>Le Havre</td>
      <td>Arthur Desmas</td>
      <td>30.0</td>
      <td>18.0</td>
      <td>2.11</td>
      <td>61.3</td>
      <td>16.7</td>
      <td>0.7</td>
      <td>37.1</td>
      <td>98.7</td>
      <td>48.3</td>
      <td>30.8</td>
      <td>0.39</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>33</td>
    </tr>
    <tr>
      <td>Saint Etienne</td>
      <td>Gautier Larsonneur</td>
      <td>27.0</td>
      <td>34.0</td>
      <td>2.26</td>
      <td>69.4</td>
      <td>14.7</td>
      <td>-1.5</td>
      <td>27.0</td>
      <td>97.9</td>
      <td>35.3</td>
      <td>52.2</td>
      <td>1.00</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>33</td>
    </tr>
    <tr>
      <td>Villarreal</td>
      <td>Diego Conde</td>
      <td>25.0</td>
      <td>21.8</td>
      <td>1.57</td>
      <td>68.1</td>
      <td>9.5</td>
      <td>-5.7</td>
      <td>37.9</td>
      <td>97.9</td>
      <td>49.1</td>
      <td>37.4</td>
      <td>0.73</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>33</td>
    </tr>
    <tr>
      <td>Eintracht Frankfurt</td>
      <td>Kevin Trapp</td>
      <td>34.0</td>
      <td>25.5</td>
      <td>1.33</td>
      <td>70.9</td>
      <td>23.1</td>
      <td>1.9</td>
      <td>28.5</td>
      <td>97.9</td>
      <td>38.0</td>
      <td>41.5</td>
      <td>1.10</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>33</td>
    </tr>
    <tr>
      <td>Lecce</td>
      <td>Wladimiro Falcone</td>
      <td>29.0</td>
      <td>38.0</td>
      <td>1.53</td>
      <td>72.4</td>
      <td>23.7</td>
      <td>-1.2</td>
      <td>33.5</td>
      <td>98.2</td>
      <td>38.2</td>
      <td>71.9</td>
      <td>0.50</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>33</td>
    </tr>
    <tr>
      <td>Las Palmas</td>
      <td>Jasper Cillessen</td>
      <td>35.0</td>
      <td>26.0</td>
      <td>1.68</td>
      <td>70.3</td>
      <td>12.0</td>
      <td>4.3</td>
      <td>30.3</td>
      <td>98.0</td>
      <td>38.7</td>
      <td>47.5</td>
      <td>0.77</td>
      <td>2</td>
      <td>0</td>
      <td>4</td>
      <td>33</td>
    </tr>
    <tr>
      <td>Aston Villa</td>
      <td>Emiliano Martínez</td>
      <td>31.0</td>
      <td>35.5</td>
      <td>1.27</td>
      <td>69.0</td>
      <td>21.6</td>
      <td>0.8</td>
      <td>38.6</td>
      <td>98.3</td>
      <td>49.4</td>
      <td>59.3</td>
      <td>0.99</td>
      <td>6</td>
      <td>0</td>
      <td>1</td>
      <td>32</td>
    </tr>
    <tr>
      <td>Ipswich Town</td>
      <td>Alex Palmer</td>
      <td>27.0</td>
      <td>13.0</td>
      <td>2.31</td>
      <td>59.2</td>
      <td>0.0</td>
      <td>-2.9</td>
      <td>38.2</td>
      <td>100.0</td>
      <td>44.0</td>
      <td>69.1</td>
      <td>1.00</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>31</td>
    </tr>
    <tr>
      <td>West Ham United</td>
      <td>Alphonse Areola</td>
      <td>31.0</td>
      <td>25.1</td>
      <td>1.67</td>
      <td>64.3</td>
      <td>20.0</td>
      <td>-2.6</td>
      <td>35.2</td>
      <td>95.4</td>
      <td>41.9</td>
      <td>57.7</td>
      <td>1.19</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>31</td>
    </tr>
    <tr>
      <td>Real Sociedad</td>
      <td>Álex Remiro</td>
      <td>29.0</td>
      <td>36.0</td>
      <td>1.19</td>
      <td>70.8</td>
      <td>36.1</td>
      <td>-5.0</td>
      <td>37.7</td>
      <td>98.1</td>
      <td>48.8</td>
      <td>62.4</td>
      <td>1.11</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>31</td>
    </tr>
    <tr>
      <td>Real Betis</td>
      <td>Adrián</td>
      <td>37.0</td>
      <td>19.0</td>
      <td>1.42</td>
      <td>65.8</td>
      <td>15.8</td>
      <td>-1.0</td>
      <td>32.6</td>
      <td>98.9</td>
      <td>49.8</td>
      <td>33.0</td>
      <td>0.84</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Tottenham Hotspur</td>
      <td>Guglielmo Vicario</td>
      <td>27.0</td>
      <td>24.0</td>
      <td>1.54</td>
      <td>64.7</td>
      <td>16.7</td>
      <td>2.4</td>
      <td>29.5</td>
      <td>96.6</td>
      <td>49.4</td>
      <td>15.4</td>
      <td>1.29</td>
      <td>6</td>
      <td>0</td>
      <td>0</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Fulham</td>
      <td>Bernd Leno</td>
      <td>32.0</td>
      <td>38.0</td>
      <td>1.42</td>
      <td>67.9</td>
      <td>13.2</td>
      <td>-3.1</td>
      <td>38.4</td>
      <td>98.8</td>
      <td>48.2</td>
      <td>51.2</td>
      <td>0.87</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Bochum</td>
      <td>Timo Horn</td>
      <td>31.0</td>
      <td>13.0</td>
      <td>1.69</td>
      <td>59.3</td>
      <td>23.1</td>
      <td>-3.5</td>
      <td>38.9</td>
      <td>99.0</td>
      <td>43.8</td>
      <td>90.8</td>
      <td>1.38</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Augsburg</td>
      <td>Nediljko Labrović</td>
      <td>24.0</td>
      <td>15.0</td>
      <td>2.13</td>
      <td>60.8</td>
      <td>13.3</td>
      <td>-6.1</td>
      <td>37.7</td>
      <td>97.8</td>
      <td>45.4</td>
      <td>62.9</td>
      <td>1.20</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Lazio</td>
      <td>Ivan Provedel</td>
      <td>30.0</td>
      <td>29.0</td>
      <td>1.45</td>
      <td>58.7</td>
      <td>17.2</td>
      <td>-8.5</td>
      <td>39.0</td>
      <td>99.1</td>
      <td>56.3</td>
      <td>59.4</td>
      <td>1.10</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Montpellier</td>
      <td>Benjamin Lecomte</td>
      <td>33.0</td>
      <td>30.0</td>
      <td>2.27</td>
      <td>64.2</td>
      <td>3.3</td>
      <td>-5.7</td>
      <td>39.4</td>
      <td>96.7</td>
      <td>48.8</td>
      <td>56.0</td>
      <td>0.90</td>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Nantes</td>
      <td>Alban Lafont</td>
      <td>25.0</td>
      <td>12.0</td>
      <td>1.58</td>
      <td>67.3</td>
      <td>16.7</td>
      <td>-0.2</td>
      <td>28.0</td>
      <td>100.0</td>
      <td>38.4</td>
      <td>66.7</td>
      <td>0.50</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>29</td>
    </tr>
    <tr>
      <td>Bologna</td>
      <td>Federico Ravaglia</td>
      <td>24.0</td>
      <td>11.7</td>
      <td>1.27</td>
      <td>45.8</td>
      <td>36.4</td>
      <td>-2.3</td>
      <td>34.8</td>
      <td>99.1</td>
      <td>47.9</td>
      <td>44.7</td>
      <td>0.77</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>29</td>
    </tr>
    <tr>
      <td>Ipswich Town</td>
      <td>Arijanet Muric</td>
      <td>25.0</td>
      <td>18.0</td>
      <td>1.83</td>
      <td>70.0</td>
      <td>5.6</td>
      <td>-1.6</td>
      <td>33.2</td>
      <td>97.3</td>
      <td>40.6</td>
      <td>75.5</td>
      <td>1.11</td>
      <td>5</td>
      <td>1</td>
      <td>3</td>
      <td>29</td>
    </tr>
    <tr>
      <td>Werder Bremen</td>
      <td>Michael Zetterer</td>
      <td>29.0</td>
      <td>34.0</td>
      <td>1.68</td>
      <td>65.4</td>
      <td>29.4</td>
      <td>-1.1</td>
      <td>36.2</td>
      <td>98.5</td>
      <td>54.3</td>
      <td>33.6</td>
      <td>1.00</td>
      <td>7</td>
      <td>0</td>
      <td>1</td>
      <td>29</td>
    </tr>
    <tr>
      <td>Stuttgart</td>
      <td>Alexander Nübel</td>
      <td>27.0</td>
      <td>34.0</td>
      <td>1.56</td>
      <td>62.5</td>
      <td>20.6</td>
      <td>-7.2</td>
      <td>38.3</td>
      <td>98.1</td>
      <td>49.2</td>
      <td>44.3</td>
      <td>1.68</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>28</td>
    </tr>
    <tr>
      <td>Manchester United</td>
      <td>André Onana</td>
      <td>28.0</td>
      <td>34.0</td>
      <td>1.29</td>
      <td>68.9</td>
      <td>26.5</td>
      <td>1.0</td>
      <td>26.8</td>
      <td>99.1</td>
      <td>36.6</td>
      <td>65.8</td>
      <td>0.68</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Girona</td>
      <td>Paulo Gazzaniga</td>
      <td>32.0</td>
      <td>35.5</td>
      <td>1.44</td>
      <td>65.7</td>
      <td>22.2</td>
      <td>-4.6</td>
      <td>31.2</td>
      <td>97.8</td>
      <td>47.8</td>
      <td>42.2</td>
      <td>0.93</td>
      <td>3</td>
      <td>0</td>
      <td>1</td>
      <td>26</td>
    </tr>
    <tr>
      <td>Wolverhampton Wanderers</td>
      <td>José Sá</td>
      <td>31.0</td>
      <td>29.0</td>
      <td>1.66</td>
      <td>63.2</td>
      <td>24.1</td>
      <td>-3.2</td>
      <td>24.6</td>
      <td>97.0</td>
      <td>31.1</td>
      <td>52.7</td>
      <td>1.48</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>26</td>
    </tr>
    <tr>
      <td>Sevilla</td>
      <td>Ørjan Nyland</td>
      <td>33.0</td>
      <td>29.7</td>
      <td>1.34</td>
      <td>67.9</td>
      <td>24.1</td>
      <td>-0.9</td>
      <td>26.5</td>
      <td>96.7</td>
      <td>34.8</td>
      <td>56.0</td>
      <td>0.98</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>25</td>
    </tr>
    <tr>
      <td>Rennes</td>
      <td>Steve Mandanda</td>
      <td>39.0</td>
      <td>16.5</td>
      <td>1.39</td>
      <td>58.8</td>
      <td>35.3</td>
      <td>-4.0</td>
      <td>33.9</td>
      <td>96.8</td>
      <td>43.3</td>
      <td>50.7</td>
      <td>1.27</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>24</td>
    </tr>
    <tr>
      <td>Holstein Kiel</td>
      <td>Timon Weiner</td>
      <td>25.0</td>
      <td>25.0</td>
      <td>2.44</td>
      <td>59.3</td>
      <td>8.0</td>
      <td>-11.8</td>
      <td>37.6</td>
      <td>98.7</td>
      <td>44.2</td>
      <td>64.1</td>
      <td>0.72</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>23</td>
    </tr>
    <tr>
      <td>Heidenheim</td>
      <td>Kevin Müller</td>
      <td>33.0</td>
      <td>32.7</td>
      <td>2.00</td>
      <td>65.7</td>
      <td>21.9</td>
      <td>-4.7</td>
      <td>35.5</td>
      <td>98.6</td>
      <td>49.5</td>
      <td>38.4</td>
      <td>0.61</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>23</td>
    </tr>
    <tr>
      <td>Valladolid</td>
      <td>Karl Jakob Hein</td>
      <td>22.0</td>
      <td>31.0</td>
      <td>2.19</td>
      <td>60.7</td>
      <td>16.1</td>
      <td>-8.2</td>
      <td>36.5</td>
      <td>99.0</td>
      <td>45.9</td>
      <td>64.7</td>
      <td>1.10</td>
      <td>2</td>
      <td>0</td>
      <td>3</td>
      <td>23</td>
    </tr>
    <tr>
      <td>Leicester City</td>
      <td>Mads Hermansen</td>
      <td>24.0</td>
      <td>26.5</td>
      <td>2.19</td>
      <td>64.5</td>
      <td>3.7</td>
      <td>1.4</td>
      <td>24.2</td>
      <td>94.8</td>
      <td>32.7</td>
      <td>75.5</td>
      <td>0.98</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>23</td>
    </tr>
    <tr>
      <td>Toulouse</td>
      <td>Guillaume Restes</td>
      <td>19.0</td>
      <td>28.3</td>
      <td>1.33</td>
      <td>62.0</td>
      <td>29.6</td>
      <td>-5.1</td>
      <td>28.0</td>
      <td>98.7</td>
      <td>38.4</td>
      <td>57.8</td>
      <td>1.20</td>
      <td>1</td>
      <td>0</td>
      <td>2</td>
      <td>22</td>
    </tr>
    <tr>
      <td>Brighton and Hove Albion</td>
      <td>Bart Verbruggen</td>
      <td>21.0</td>
      <td>36.0</td>
      <td>1.61</td>
      <td>65.7</td>
      <td>19.4</td>
      <td>-5.0</td>
      <td>31.6</td>
      <td>98.3</td>
      <td>45.8</td>
      <td>67.5</td>
      <td>1.31</td>
      <td>5</td>
      <td>0</td>
      <td>2</td>
      <td>22</td>
    </tr>
    <tr>
      <td>Celta Vigo</td>
      <td>Vicente Guaita</td>
      <td>37.0</td>
      <td>34.0</td>
      <td>1.41</td>
      <td>64.6</td>
      <td>23.5</td>
      <td>-7.4</td>
      <td>30.0</td>
      <td>98.6</td>
      <td>52.2</td>
      <td>36.5</td>
      <td>1.29</td>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>22</td>
    </tr>
    <tr>
      <td>Southampton</td>
      <td>Aaron Ramsdale</td>
      <td>26.0</td>
      <td>30.0</td>
      <td>2.20</td>
      <td>67.6</td>
      <td>10.0</td>
      <td>-2.5</td>
      <td>32.4</td>
      <td>96.5</td>
      <td>37.5</td>
      <td>77.4</td>
      <td>0.67</td>
      <td>3</td>
      <td>0</td>
      <td>3</td>
      <td>21</td>
    </tr>
    <tr>
      <td>Empoli</td>
      <td>Devis Vásquez</td>
      <td>26.0</td>
      <td>32.0</td>
      <td>1.41</td>
      <td>64.8</td>
      <td>18.8</td>
      <td>-4.8</td>
      <td>28.8</td>
      <td>97.1</td>
      <td>36.8</td>
      <td>65.3</td>
      <td>0.47</td>
      <td>4</td>
      <td>0</td>
      <td>2</td>
      <td>15</td>
    </tr>
    <tr>
      <td>Hellas Verona</td>
      <td>Lorenzo Montipò</td>
      <td>28.0</td>
      <td>36.0</td>
      <td>1.78</td>
      <td>61.5</td>
      <td>22.2</td>
      <td>-12.2</td>
      <td>29.2</td>
      <td>98.4</td>
      <td>32.9</td>
      <td>88.9</td>
      <td>0.64</td>
      <td>4</td>
      <td>0</td>
      <td>1</td>
      <td>12</td>
    </tr>
  </tbody>
</table>